@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff005d;
    --secondary-color: #4d5868;
    --text-color: #363636;
    --tertiary-color: #2cc9bf;
    --last-color: rgb(0, 82, 95);
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
    line-height: 1.3;
    width: 140rem;
    margin: 0 auto;
    position: relative;
}
.primary-title-centered {
    font-size: 5.4rem;
    text-transform: capitalize;
    text-align: center;
}

.primary-title {
    font-size: 5.4rem;
    text-transform: capitalize;
}

.secondary-title {
    font-size: 4.6rem;
}

.tertiary-title {
    font-size: 3.6rem;
}

.fourth-title {
    font-size: 2.8rem;
}
.fifth-title {
    font-size: 2.4rem;
}
.fifth-title-centered {
    font-size: 2.4rem;
    text-align: center;
}

.sixth-title {
    font-size: 1.6rem;
}

/* ROOT STYLING */
.icon-new-task {
    height: 4rem;
    width: 4rem;
    stroke: white;
}

.active {
    background-color: #ff005d;
}
.btn-new-task {
    background-color: var(--last-color);
    padding: 1rem 1.2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border: 0.4rem solid white;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0rem -0.5rem 2rem 0.2rem rgba(0, 0, 0, 0.281);
}
.btn-new-task:hover {
    background-color: white;
}
.btn-new-task:hover .icon-new-task {
    stroke: var(--last-color);
}

::placeholder {
    color: rgb(201, 201, 201);
}

.header {
    background-color: rgb(221, 107, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10rem;
    margin-bottom: 4rem;
}

.tracker-container {
    background-color: var(--last-color);
    height: 70rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    border-radius: 0.8rem;
    position: relative;
}

#tracker-project-name {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 3.2rem;
    color: white;
    display: block;
}

/* FORM */
.sub-tasks-container {
    width: 60%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    position: relative;
    background-color: white;
    height: 50rem;
    margin-top: 5rem;
    border-radius: 0.8rem;
    gap: 2rem;
}

#input-task-content {
    font-family: "Nunito", sans-serif;
    color: var(--text-color);
    border-radius: 0.8rem;
    font-size: 1.4rem;
    padding: 0.8rem;
    outline: none;
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 80%;
}

.task-list-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    overflow-y: auto;
    padding: 2rem 0;
    max-height: 30rem;
}
.task {
    color: white;
    background-color: var(--last-color);
    width: 80%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0.8rem;
    position: relative;
    border: 0.4rem solid var(--last-color);
    cursor: pointer;
}

.task--completed {
    background-color: #0062a3;
}

.task:hover {
    border-color: rgb(255, 115, 0);
}
.task .task-content {
    font-weight: 600;
    width: 80%;
    word-break: break-all;
}
.task #input-check-box {
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    right: 2rem;
}

.progress-status {
    position: absolute;
    right: 10%;
    top: 8%;
    color: white;
    font-size: 6rem;
}

@media only screen and (max-width: 1200px) {
    body {
        width: 1000px;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        width: 800px;
    }
}
